*{
  padding: 0;
  margin: 0;
  box-siing: border-box;
}

body{
      background-color: #f8f9fa;
    }
.main-color {
      color: #003366; /* Deep blue */
    }
.btn-faith {
      background-color: #dc3545; /* Red */
      color: white;
    }
.btn-faith:hover {
      background-color: #a71d2a;
    }
.register-box {
      background: white;
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 30px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    }
